#lianzaiContainer {
  margin-top: 40px;
}
.lianzai {
  min-height: 600px;
}
.lianzai-item {
  position: relative;
  padding-bottom: 20px;
}
.lianzai-item .lianzai-box .lianzai-detail {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.04);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.04);
  border: 1px solid #dee8ef;
  background: #FFF;
  padding: 16px;
  position: relative;
}
.lianzai-item .lianzai-box .lianzai-detail .plan-img {
  position: relative;
}
.lianzai-item .lianzai-box .lianzai-detail .plan-img .base-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 64px;
  background: rgba(0, 0, 0, 0.45);
}
.lianzai-item .lianzai-box .lianzai-detail .plan-img .base-info p.title {
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  line-height: 64px;
  margin-left: 110px;
}
.lianzai-item .lianzai-box .lianzai-detail .plan-img .base-info .avatar {
  position: absolute;
  left: 16px;
  top: 24px;
}
.lianzai-item .lianzai-box .lianzai-detail .plan-img .base-info .avatar img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.lianzai-item .lianzai-box .lianzai-detail .plan-img .base-info .witness-count {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 64px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.lianzai-item .lianzai-box .lianzai-detail .plan-img .base-info .witness-count h4,
.lianzai-item .lianzai-box .lianzai-detail .plan-img .base-info .witness-count p {
  color: #ffe100;
}
.lianzai-item .lianzai-box .lianzai-detail .plan-img .base-info .witness-count h4 {
  margin-bottom: 5px;
}
.lianzai-item .lianzai-box .lianzai-detail .plan-img .base-info .witness-count p {
  font-size: 18px;
}
.lianzai-item .lianzai-box .lianzai-detail .description {
  margin-left: 110px;
  padding-top: 16px;
}
.right-content {
  margin-top: 56px;
}
.right-content ul.plan-type {
  list-style: none;
}
.right-content ul.plan-type li {
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  margin: 0 8px 8px;
  cursor: pointer;
}
.right-content ul.plan-type li:hover {
  background: #42ba7c;
  color: #fff;
  border-color: #42ba7c;
}
.right-content h4 {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 100;
}
