
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-niming:before { content: "\e60c"; }
.icon-yundong:before { content: "\e60b"; }
.icon-moshubang:before { content: "\e600"; }
.icon-heart:before { content: "\e601"; }
.icon-lvxing:before { content: "\e610"; }
.icon-arrow:before { content: "\e605"; }
.icon-kafei:before { content: "\e60d"; }
.icon-android:before { content: "\e603"; }
.icon-weibo:before { content: "\e607"; }
.icon-qq:before { content: "\e608"; }
.icon-ios:before { content: "\e604"; }
.icon-chaungzuo:before { content: "\e60e"; }
.icon-xuexi:before { content: "\e60f"; }
.icon-back1:before { content: "\e606"; }
.icon-time:before { content: "\e602"; }
.icon-weixin:before { content: "\e609"; }
